* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

LICENSE.md export-ignore
README.md export-ignore
SECURITY.md export-ignore
_site export-ignore
composer.json export-ignore
composer.lock export-ignore
docs export-ignore
hyde export-ignore
package.json export-ignore
phpunit.xml.dist export-ignore
resources export-ignore
storage export-ignore
tailwind.config.js export-ignore
vendor export-ignore
webpack.mix.js export-ignore
